@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

/* Стили для header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #FED100; 
    padding: 40px 0; 
}

/* Контейнер для центрирования */
.header__container {
    max-width: 1312px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
}

/* Логотип */
.header__logo {
    font-size: 30px; 
    font-weight: 600; 
    color: #333333; 
    text-decoration: none;
}

/* Навигация */
.header__nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 20px; 
}

.header__nav a {
    color: #333333; 
    text-decoration: none; 
    font-size: 18px; 
    font-weight: 500;
    transition: all 0.3s ease;
}

.header__nav a:hover {
    color: #fff;
}

.header__nav a.active {
    display: none;
    transition: all 0.3s ease;
}

/* Телефон */
.header__phone {
    color: #333333; 
    font-size: 24px; 
    font-weight: 600; 
    text-decoration: underline; 
    transition: all 0.3s ease;  
}

.header__phone:hover {
    color: #fff;
}

/* Бургер-меню */
.header__burger {
    display: none;
}

/* Секция баннера */
.banner {
    background-color: #FED100;
    padding: 141px 0 85px 0;
}

.banner__container {
    max-width: 1312px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.banner__content {
    max-width: 50%;
}

.banner__content h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 28px;
    color: #333;
}

.banner__content p {
    font-size: 30px;
    font-weight: 600;
    color: #333;
    margin-bottom: 50px;
}

.banner__button{
    display: block;
    margin-bottom: 74px;
}

.banner__button_container{
    position: relative;
    z-index: 1;
}

.banner__button_up {
    display: inline-block;
    background-color: #FF352B;
    color: #F2F2F2;
    font-size: 24px;
    font-weight: 600;
    padding: 15px 95px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.banner__button_down {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 2px solid #F2F2F2;
    height: 60px;
    width: 304px;
    transition: all 0.4s ease;
    z-index: -1;
}

.banner__button:hover .banner__button_up {
    background-color: #FF772B;
    color: #fff;
}

.banner__button:hover .banner__button_down {
    background: #F2F2F2;
}

/* Иконки */
.banner__features {
    display: flex;
    width: 547px;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.feature p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/* Изображение */
.banner__image img {
    position: absolute;
    max-width: 553px;
    top: -83px;
    right: 0;
}

.banner__image__adaptive{
    display: none;
}

/* Секция "Как это происходит?" */
.process {
    background-color: #fff; /* Белый фон */
    padding: 96px 0; /* Отступы сверху и снизу */
}

.process__container {
    max-width: 1105px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование */
    padding: 0 20px; /* Отступы слева и справа */
}

.process__title {
    font-size: 30px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 60px;
}

.process__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Сетка 2x2 */
    column-gap: 115px; /* Расстояние между колонками */
    row-gap: 48px; /* Расстояние между строками */
}

.process__item {
    display: flex;
}

.process__item div{
    width: 90%;
}

.process__number {
    font-size: 50px;
    font-weight: 300;
    color: #FED100;
    margin-top: -8px;
    position: relative;
    width: 30%;
}

.process__number::after{
    color: #333;
    position: absolute;
    left: -2px;
}

#first::after{
    content: "01";
}

#second::after{
    content: "02";
}

#third::after{
    content: "03";
}

#fourth::after{
    content: "04";
}

.process__subtitle {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    margin-bottom: 16px;
}

.process__text {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 1.31;
}

.process__arrow{
    display: none;
}

/* Main */
main {
    padding-top: 150px; 
}

/* Адаптивность для экранов до 768px */
@media (max-width: 768px) {
    .header {
        padding: 29px 0;
    }

    .header__container {
        gap: 10px; 
    }

    .header__logo {
        font-size: 36px; 
        font-weight: 600;
    }

    .header__burger {
        display: block; 
        position: relative;
        width: 46px; 
        height: 28px; 
        cursor: pointer; 
        z-index: 11;
        margin-right: 20px;
    }

    .header__burger span,
    .header__burger:before,
    .header__burger:after {
        content: "";
        background-color: #333333; 
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease;
    }

    .header__burger span {
        top: 13px;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    /* Анимация бургер-меню при открытии */
    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:before {
        transform: rotate(-45deg);
        top: 20px;
        width: 55%;
        height: 3px;
    }

    .header__burger.active:after {
        transform: rotate(45deg);
        bottom: 21px;
        width: 55%;
        height: 3px;
    }

    /* Навигация и телефон в выпадающем меню */
    .header__nav {
        position: fixed;
        top: 0; 
        right: -100%;
        width: 296px;
        height: 100%;
        border-radius: 32px 0 0 32px;
        background-color: #fff;
        padding: 173px 0 20px 0; 
        transition: all 0.3s ease;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 10;
    }

    .header__nav.active {
        right: 0;
    }

    .header__nav ul {
        flex-direction: column; 
        text-align: start;
        gap: 0;
        width: 100%;
    }

    .header__nav a {
        font-size: 28px; 
        font-weight: 500;
        display: block; 
        padding: 20px 38px; 
        width: 100%;
    }

    .header__nav a.active {
        display: block;
        background-color: #000;
        color: #fff;
    }

    .header__phone {
        position: fixed;
        top: 0;
        right: -100%;
        width: 296px;
        
        background-color: #fff; 
        padding: 20px 48px;
        transition: all 0.3s ease;
        z-index: 10; 
        font-size: 24px;
        font-weight: 600;
        margin-top: 543px; 
    }

    .header__phone.active {
        right: 0;
    }

    /* Секция баннера */
    .banner {
        background: #FED100;
        padding-top: 112px;
        padding-bottom: 48px;
        height: auto;
        width: 100%;
    }

    .banner__container {
        margin: 0 auto;
        padding: 0 100px;
        position: relative;
        flex-direction: column;
        text-align: center;
    }

    .banner__content {
        max-width: 100%;
    }

    .banner__content h1 {
        font-size: 56px;
        font-weight: 700;
        margin-bottom: 4px;
        color: #333;
    }

    .banner__content p {
        font-size: 36px;
        font-weight: 600;
        color: #333;
        margin-bottom: 50px;
    }

    .banner__button{
        display: block;
        margin-bottom: 44px;
        margin-top: -5px;
    }

    .banner__button_container {
        position: relative;
        display: inline-block;
    }
    
    .banner__button_up {
        font-size: 30px;
        padding: 18px 116px;
    }
    
    .banner__button_down {
        height: 74px;
        width: 375px;
    }

    /* Иконки */
    .banner__features {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }

    .feature p {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
    }

    /* Изображение */
    .banner__image{
        display: none;
    }

    .banner__image__adaptive {
        display: block;
        margin-top: -100px;
        margin-left: 20px;
    }

    .process {
        padding: 101px 0;
        max-width: 620px;
        margin: 0 auto;
    }

    .process__title {
        margin-bottom: 53px;
    }

    .process__items {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .process__item {
        gap: 15px;
    }

    .process__number {
        font-size: 90px;
        margin-top: -8px;
    }

    .process__subtitle {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 17px;
    }

    .process__text {
        font-size: 16px;
        font-weight: 400;
    }
}

@media (max-width: 620px) {
    .banner__container{
        padding: 0 20px;
    }

    .banner__content h1 {
        font-size: 42px;
    }

    .banner__content p {
        font-size: 24px;
    }

    .feature p {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
    }

    /* Изображение */
    .banner__image__adaptive {
        margin-top: -90px;
    }

    .banner__image__adaptive img{
        width: 300px;
    }

    .process__content{
        width: 70%;
    }

    .process__number {
        font-size: 70px;
        text-align: end;
        width: 33%;
    }

    .process__number::after {
        right: 2px;
    }

    .process__subtitle {
        font-size: 20px;
    }

    .process__text {
        font-size: 12px;
    }
}

@media (max-width: 460px) {
    .banner{
        padding-bottom: 40px;
    }

    .banner__container{
        padding: 0 10px;
        width: 100%;
    }

    .banner__content h1 {
        font-size: 40px;
    }

    .banner__content p {
        font-size: 22px;
    }

    .banner__button_container{
        width: 100%;
        padding: 0 10px;
    }

    .banner__button_up{
        width: 100%;
        padding: 18px;
    }

    .banner__button_down {
        display: none;
    }

    /* Иконки */
    .banner__features {
        display: none;
    }

    /* Изображение */
    .banner__image__adaptive {
        margin-top: -90px;
    }

    .banner__image__adaptive img{
        width: 280px;
    }
}

/* Адаптивность для экранов до 320px */
@media (max-width: 320px) {
    .header {
        padding: 28px 0;
    }

    .header__logo {
        font-size: 16px;
        font-weight: 600;
        z-index: 11;
    }

    .header__burger{
        height: 19px;
        width: 32px;
        margin-right: -10px;
    }

    .header__burger span {
        top: 8.5px;
    }

    /* Анимация бургер-меню при открытии */
    .header__burger.active:before {
        transform: rotate(-45deg);
        top: 14px;
        width: 55%;
        height: 3px;
    }

    .header__burger.active:after {
        transform: rotate(45deg);
        bottom: 13px;
        width: 55%;
        height: 3px;
    }

    /* Навигация и телефон в выпадающем меню */
    .header__nav {
        right: -150%;
        width: 100%;
        border-radius: 0;
        padding: 117px 0 20px 0;
    }

    .header__nav a {
        padding: 20px 44px;
        width: 100%;
    }

    .header__phone {
        right: -150%;
        width: 100%;
        
        padding: 20px 76px;
        font-size: 18px;
        font-weight: 600;
        margin-top: 543px;
    }

    .banner {
        padding-top: 80px;
        padding-bottom: 0px;
    }

    .banner__container {
        padding: 0 10px;
    }

    .banner__content h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 6px;
    }

    .banner__content p {
        font-size: 18px;
        font-weight: 600;
    }

    .banner__button_container {
        width: 100%;
        padding: 0;
    }

    .banner__button_up {
        font-size: 20px;
        font-weight: 600;
        padding: 18px 99px;
        width: 100%;
    }

    /* Изображение */
    .banner__image__adaptive {
        margin-top: -80px;
        margin-left: 30px;
        display: flex;
        justify-content: center;
    }

    .banner__image__adaptive img {
        width: 250px;
    }

    .process {
        padding: 65px 0;
        max-width: 295px;
        margin: 0 auto;
    }

    .process__container {
        padding: 0 15px;
    }

    .process__title {
        font-size: 20px;
        margin-bottom: 28px;
    }

    .process__items {
        gap: 20px;
    }

    .process__item {
        gap: 7px;
    }

    .process__content{
        display: flex;
    }

    .process__number {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .process__subtitle {
        font-size: 16px;
    }

    .process__text {
        display: none;
    }

    .process__arrow{
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    .bx-chevron-down{
        font-size: 40px;
        margin-bottom: 30px;
        transition: transform 0.3s ease;
    }

    .bx-chevron-down.active{
        transform: rotate(180deg);
    }

    .process__text.active{
        display: block;
    }
}